.categoriesContainer {
  width: 20%;
  background-color: AliceBlue;
  border-radius: 5%;
  position: fixed;
  height: auto;
  right: 0;
  margin: 10%;
  margin-top: 20%;
}
.categoryLink {
  color: gray;
  text-decoration: none;
  display: inline-block;
  width: 50%;
}
.categoryLink:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.booksContainer {
  width: 90%;
  float: left;
  margin: 5%;
}

.checkBoxes {
  width: 20%;
  background-color: AliceBlue;
  position: fixed;
  height: auto;
  left: 0;
  margin-top: 10%;
  margin-left: 5%;
}
