.container {
    max-width: 30%;
    margin: 30px auto;
    border: 1px solid steelblue;
    background-color: #fff;
    border-radius: 2px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.book-img {
    display: block;
    width: 9rem;
    padding: 10px 10px 10px 0px;
}

.text-container h1{
    margin: 0;
    padding: 0;
}

.text-container h4{
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 0;
}

.text-container h6{
    margin: 10px 0;
}