/* body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}  */
.labelLogin{
  font-size: x-large;
  display: block;
  margin: 15px;
}

.container2 {
  width: auto;
  clear: both;
  
}

.container2 input {
  width: 100%;
  clear: both;
  
}

.inputLogin{
  display: block;
  height: 40px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
a:link{
  color: white;
}
a:hover{
  color: white;
}
a:active{
  color: white;
}
a:visited{
  color: white;
}

.buttonLogin{
  color:darkblue;
  background-color: white;
  font-size: x-large;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 200px;
  min-width: 300;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}