body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  h1{
    font-size: 500%;
  }  
  label{
    font-size: 200%;
  }
  input{
    height: 40px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
  }
  a:link{
    color: white;
  }
  a:hover{
    color: white;
  }
  a:active{
    color: white;
  }
  a:visited{
    color: white;
  }

  .profile_img{
    height:140px;
    align-self: flex-end;
    width: 140px;
    margin: 7px;
    float: left;
    object-fit: scale-down;
    border-radius:'120px';
    border: '7px solid white';
  }
  
  .username {
    text-align: justify;  /* For Edge */
    text-align-last: left;
  }
  
  .useremail {
    text-align: justify; /* For Edge */
    text-align-last: left;
  }
  .wrap{
    height: 140px;
    text-align-last: left;
  }

  
  button{
    color:darkblue;
    background-color: no;
    font-size: x-large;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
  }