body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
  }
.labelSignUp{
    font-size: 200%;
    display: block;
}
.inputSignUp{
    display: block;
    height: 40px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
a:link{
    color: white;
}
a:hover{
    color: white;
}
a:active{
    color: white;
}
a:visited{
    color: white;
}

.signFormStyle{
    text-align: center;
}
.buttonSignUp{
    display: block;
    color:darkblue;
    background-color: white;
    font-size: x-large;
    margin: 30px;
    padding: 10px;
    min-width: 300;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}