.bodySignUp {
    background-color: #0D47A1;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;

  }
.labelSignUp{
    font-size: x-large;
    display: block;
    margin: 15px;
    
}
.userType{
    font-size: x-large;
    margin: 15px;
    
}

.inputSignUp{
    display: block;
    height: 40px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.inputFile{
    display: block;
    height: 40px;
    text-align-last: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
  
.container3 {
    width: auto;
    clear: both;

}
.formSingUp{
    padding: 60px;
    width: 400px;
    margin: 30px;
    background-color: #282c34;
}
.container3 input {
    width: 100%;
    clear: both;

}
a.signUpLink:link{
    color: white;
}
a.signUpLink:hover{
    color: white;
}
a.signUpLink:active{
    color: white;
}
a.signUpLink:visited{
    color: white;
}

.radio-label{
    margin: 7px;
}

.buttonSignUp{
    color:darkblue;
    background-color: white;
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 200px;
    min-width: 300;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
  }