body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
  }
.labelSignUp{
    font-size: x-large;
    display: block;
    margin: 15px;
}
.inputSignUp{
    display: block;
    height: 40px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
  
.container3 {
    width: auto;
    clear: both;

}
.container3 input {
    width: 100%;
    clear: both;

}
a:link{
    color: white;
}
a:hover{
    color: white;
}
a:active{
    color: white;
}
a:visited{
    color: white;
}

.buttonSignUp{
    color:darkblue;
    background-color: white;
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 200px;
    min-width: 300;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
  }