body {
  margin: 0;
  color: black;
  font-family: "Libre Baskerville", "Droid Serif", "Times New Roman", Times,
    serif;
  background-color: #313642;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
